<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Выйти"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Введите сообщение" />
            <input type="text" name="tag" placeholder="Поиск по тэгу">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Список </div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Найти</button>
    </form>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
    {{/messages}}
    
      <div>1.  Сделал Spring Security регистрацию и логирование</div><br>
      <div>2.  Хотел сделать WebClient как у Миши Царенко в примере identity-service, но пока ошибки еще не разобрался и сделал пока как умел с браузера через шаблонизатор .mustache</div><br>
      <div>3.  Crud-методы еще не все дописал, нет delete</div><br>
      <div>4.  Сделал таблицы в postgres при помощи liquibase, но сегодня увидел документацию,что Юля Дешкович прислала, думаю теперь и таблицы надо переделывать и новые сущности добавлять</div><br>
      <div> <a href="https://docs.google.com/document/d/1ovWJ5uUcOMeolzrez_4Eeo3Brrpby-sRf9cRsbFCB5U/edit#heading=h.625yycdr95gb"> </div><br>
      
</body>
</html>
