<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security регистрация </title>
</head>
<body>
Добавить нового пользователя
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label> Имя пользователя : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
       <div>1.  Сделал Spring Security регистрацию и логирование</div><br>
      <div>2.  Хотел сделать WebClient как у Миши Царенко в примере identity-service, но пока ошибки еще не разобрался и сделал пока как умел с браузера через шаблонизатор .mustache</div><br>
      <div>3.  Crud-методы еще не все дописал, нет delete</div><br>
      <div>4.  Сделал таблицы в postgres при помощи liquibase, но сегодня увидел документацию,что Юля Дешкович прислала, думаю теперь и таблицы надо переделывать и новые сущности добавлять</div><br>
      <div> <a href="https://docs.google.com/document/d/1ovWJ5uUcOMeolzrez_4Eeo3Brrpby-sRf9cRsbFCB5U/edit#heading=h.625yycdr95gb"> </div><br>
</body>
</html>
